* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: black;
}

.main-content{
    height: 100vh;
    width: auto;
    padding: 8rem 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #fafafa;
}

.phone{
    display: inline-block;
    position: relative;
}

.phone-image{
    width: 54%;
    position: absolute;
    right: 58px;
    top: 25px;
    color: #999;
}

.login-area{
    /* width: 18%; */
    width: 25rem;
    margin-top: 20px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login{
    width: 100%;
    padding: 10px 40px;
    border: 1px solid #dbdbdb;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: white;
}

.login img{
    width: 70%;
    margin: 30px 0px;
}

.login-text-input{
    background-color: #fafafa;
    width: 100%;
    height: 38px;
    margin: 3px 0px;
    padding: 0;
    padding-left: 8px;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    font-size: 12px;
}

.login-text-input:focus {
    outline: none !important;
    border-color: #757474;
}


.login-button{
    width: 100%;
    height: 30px;
    margin: 10px 0px;
    background-color: #b2dffc;
    color: white;
    font-size: 15px;
    border: 0;
    border-radius: 2px;
}

.form-division{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.form-division p{
    font-size: 12px;
    color: #8e8e8e;
}

.division-line{
    height: 50%;
    width: 40%;
    border-top: 1px solid #dbdbdb;
}

.facebook-login{
    margin: 15px;
}

.facebook-login a{
    color: #385185;
    font-weight: bold;
    font-size: 13px;
}

.facebook-icon{
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16px;
    background-image: url("img/assets.png");
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.forgot-password{
    font-size: 12px;
    margin: 10px;
}

.signup{
    width: 100%;
    padding: 20px 40px;
    border: 1px solid #dbdbdb;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    background-color: white;
    font-size: 12px;
}

.signup a{
    margin-left: 4px;
    color: #0095f7;
}

.download{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.download div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download img{
    width: 40%;
    margin: 20px 5px;
}

/* media queries */

@media (max-width: 880px){
    .phone{
        display: none;
    }

    .login-area{
        margin-right: 0px;
    }
}

@media (max-width: 450px){
    .login{
        border: none;
        background-color: #fafafa;
    }

    .signup{
        border: none;
        background-color: #fafafa;
        margin: 150px 0px;
    }

    .main-content{
        padding-top: 10px;
    }
}